@media (min-width: 1200px){
  .container {
      max-width: 10000px;
  }
}
@media (min-width: 992px){
  .container {
      max-width: 10000px;
  }
}
@media (min-width: 768px){
  .container {
      max-width: 10000px;
  }
}

.site_title i {
    padding: 6px 7px 6px 6px !important;
}