<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CGPTruckEntities" connectionString="metadata=res://*/EFCGPTruck.csdl|res://*/EFCGPTruck.ssdl|res://*/EFCGPTruck.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=CGPTruck;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AuthContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;initial catalog=CGPTruck;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
